/* Form Container */

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  flex-direction: column;
}

#label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: var(--black);
}

#answer{
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--black);
  border-radius: 4px;
  margin-bottom: 2px;
  box-sizing: border-box;
}

#question{
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--black);
  border-radius: 4px;
  margin-bottom: 2px;
  box-sizing: border-box;
}

#tag{
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--black);
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

#submit {
  width: 100%;
  padding: 12px;
  background: var(--secondary);
  color: var(--white);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

#submit:hover {
  background-color: var(--secondary-light);
  color: var(--black);
}

.characters{
  display: flex;
  flex-direction: row-reverse;
  font-size: 0.6rem;
  font-weight: bold;
}